.initialDetailsContainer div {
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 32px;
	padding: 0 0 0 48px;
	position: relative;
	border-left: none;
}

.initialDetailsContainer div p:nth-child(1) {
	font-size: 12px;
	font-weight: 300;
}

.initialDetailsContainer div p:nth-child(2) {
	font-size: 32px;
	font-weight: 900;
}

.initialDetailsContainer div span {
	position: absolute;
	top: 100%;
	left: 0;
	color: green;
	transform: rotateX(180deg);
	transform-origin: 0 0;
	transform: rotate(-90deg);
	font-size: 18px;
	font-weight: 300;
	color: var(--text-tertiary);
}

.orderBtn {
	color: var(--text-primary);
	background-color: var(--brand-color);
	padding: 12px 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

/* .orderBtn {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	border: 1px solid var(--text-primary);
	padding: 12px 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 12px;
} */

.orderBtn {
	color: var(--text-primary);
	background-color: var(--brand-color);
	padding: 12px 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	transition: all .2s ease-in;
	font-size: 12px;
}

.orderBtn:hover {
	transform: scale(1.05);
}

/* .helmetObjectContainer {
	position: absolute;
	top: 55%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.helmetObjectContainer img {
	width: 600px;
	height: 600px;
	opacity: .8;
}


.helmetObjectContainer::before {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	content: "";
} */

/* .helmetObjectContainer {
	position: absolute;
	top: 60%;
	left: 20%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.helmetObjectContainer img {
	width: 900px;
	height: 900px;
	opacity: .3;
} */

.helmetObjectContainer {
	width: 100%;
	height: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	display: none;
	/* border: 1px solid red; */
}



.initialDetailsContainer {
	background-color: var(--bg-primary);
	filter: drop-shadow(-50px -50px 20px #060507);
	/* filter: drop-shadow(-45px -45px 60px green); */

}

.sideImg {
	position: absolute;
	bottom: 0%;
	left: -150px;
	/* border: 1px solid green; */
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	height: max-content;
}

.sideImg img {
	width: 350px;
	height: 350px;
	opacity: .4;
}