/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* Import font */
@font-face {
	font-family: 'Onest';
	src: url('@/assets/fonts/Onest/Onest-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

/* #root {
	--brand-color: #ABC4FF;
	--brand-color-secondary: #B6CCFE;

	--primary-color: #FFFFFF;
	--secondary-color: #888888;

	--bg-primary: #ffffff;
	--bg-secondary: #EDF2FB;
	--bg-tertiary: #CCDBFD;

	--text-primary: #000000;
	--text-secondary: #888888;
	--text-tertiary: #6A6A6A;
} */

/* #root {
	--brand-color: #212529;
	--brand-color-secondary: #343a40;
	--brand-color-tertiary: #6c757d;

	--primary-color: #f8f9fa;
	--secondary-color: #6c757d;

	--bg-primary: #eff4ff;
	--bg-secondary: #e9ecef;
	--bg-tertiary: #dee2e6;
	--bg-tertiary: #bcbfc2;
	--bg-dark: #000000;

	--text-primary: #212529;
	--text-secondary: #6c757d;
	--text-tertiary: #adb5bd;

	--text-reverse-primary: #ffffff;
	--text-reverse-secondary: #e7e7e7;
	--text-reverse-tertiary: #bbbbbb;
} */
#root {
	--brand-color: #640101;
	--brand-color-secondary: #111111;
	--brand-color-tertiary: #6c757d;
	--brand-color-small: #da0000;

	--bg-primary: #060507;
	--bg-secondary: #DFEAF6;
	--bg-tertiary: #bcbfc2;
	--bg-dark: #111111;

	--text-primary: #ffffff;
	--text-secondary: rgb(255, 255, 255, .9);
	--text-tertiary: #3F3E44;
	--text-tertiary: #9297A2;

	--list-marker: "〣 ";
	--list-marker: "◈ ";
	--list-marker-hover: "◆ ";

	--bg-svg: #0e0e0e;
}

*/
/* 3. Enable keyword animations */
/* @media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
} */

html,
body,
#root {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
	/* overflow-x: hidden; */
	/* Common in GSAP to prevent snapping */
	font-family: "Onest";
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	/* overflow-wrap: break-word; */
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* * {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
} */


.snapSections {
	scroll-snap-align: start;
}